{% fetchxml myquery %}
<fetch mapping="logical">
  <entity name="cr9aa_hr360">
    <all-attributes />​
    <filter type='and'>
      <condition attribute='cr9aa_startyear' operator='eq' value="{{request.params['startyear']}}" />
      <condition attribute='cr9aa_endyear' operator='eq' value="{{request.params['endyear']}}" />
      <condition attribute='cr9aa_startmonth' operator='eq' value="{{request.params['startmonth']}}" />
      <condition attribute='cr9aa_endmonth' operator='eq' value="{{request.params['endmonth']}}" />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}
{{ assign recordCount=myquery.results.entities.size }}
<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto">{{user.fullname}}</h3>
    <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistics</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" id="narrative-tab" data-toggle="tab" href="#narrative" role="tab" aria-controls="narrative" aria-selected="false">Narrative</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Budget</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Attachments</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br>
      <div class="container">
        <div class="row">

          <div class="col text-left">
            <h2>Quarterly Data Entry (Statistics)</h2>

          </div>


          <!-- Popup with a button -->
          <div class="col-xs-12 text-right margin">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Save </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Close </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Submit </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Print </button>


          </div>
        </div>
      </div>

      <!-- TOTAL Referrals -->
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col heading-border">
                <h4>TOTAL Referrals</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># referrals, total</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_numrefstal"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_numrefstal}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># AB 109 referrals</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_numab109refs"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_numab109refs}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># non AB 109 referrals</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_numnonab109refs"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_numnonab109refs}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># screened and accepted for housing services</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsnumscreenedandacceptedforhousingsvcs"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_refsnumscreenedandacceptedforhousingsvcs}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># screened and ineligible for housing services</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsnumscreenedandineligibleforhousingsvc"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_refsnumscreenedandineligibleforhousingsvc}} {% endif %}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Demographic characteristics of new enrollees -->

      <div class="container">
        <div class="row">
          <div class="col">

            <div class="row">
              <div class="col heading-border">
                <h4>New Enrollee Services</h4>
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Demographic characteristics:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Sex:</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"># men, enrolled </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollmen"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollmen}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># women, enrolled</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollwomen"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollwomen}} {% endif %}">
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Race/ethnicity:</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"># African American</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumafricanamerican"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumafricanamerican}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># Latino</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumlatino"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumlatino}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># Asian</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumasian"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumasian}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># White</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumwhite"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumwhite}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># other/unknown</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumethnicityotherunknown"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumethnicityotherunknown}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Age</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"># African American</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumafricanamerican"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumafricanamerican}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Age</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt">Aged ≤ 25</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumagedgt25"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumagedgt25}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Aged 26-35</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumaged2635"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumaged2635}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Aged 36-45</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumaged3645"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumaged3645}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Aged 46-55</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumaged4655"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumaged4655}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Aged > 55</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnumaged55"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnumaged55}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Unknown</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollageunknown"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollageunknown}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Region</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt">West</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollwest"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollwest}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Central</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollcentral"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollcentral}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">East</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrolleast"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrolleast}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Tier</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt">AB 109 Probation</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollab109prob"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollab109prob}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Felony Probation </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollfelonyprob"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollfelonyprob}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">≥ 30 days in custody, released w/in last 3 yrs.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrolllt30daysincustreleasedwinlast3"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrolllt30daysincustreleasedwinlast3}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently awaiting trial</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollcurrawaitingtrial"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollcurrawaitingtrial}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently on court probation</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollcurronctprob"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollcurronctprob}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Special court probation (Behavioral, DV, drug)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollspecctprobbehavioraldvdrug"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollspecctprobbehavioraldvdrug}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently on Parole</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollcurronparole"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollcurronparole}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently in custody</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollcurrincust"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollcurrincust}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Out of jurisdiction</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrolloutjurisdiction"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrolloutjurisdiction}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">None of the above</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_newenrollnonetheabove"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_newenrollnonetheabove}} {% endif %}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col heading-border">
                <h4>Among ALL Enrollees during the quarters of interest</h4>
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Housing:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># currently housed</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollhousinghousingnumcurrhoused"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollhousinghousingnumcurrhoused}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># receiving case management services</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollhousingnumreceivingcasemgmtsvcs"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollhousingnumreceivingcasemgmtsvcs}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Length of time housed:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># housed &lt; 4 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllentimehousednumhoused4mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllentimehousednumhoused4mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># housed 4-6 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllentimehousednumhoused46mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllentimehousednumhoused46mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># housed 7-9 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllentimehousednumhoused79mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllentimehousednumhoused79mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># housed 10-12 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllentimehousednumhoused1012mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllentimehousednumhoused1012mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># housed &gt; 1 year </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllentimehousednumhoused1year"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllentimehousednumhoused1year}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># received tenant education </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumrcvdtenanteducation"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumrcvdtenanteducation}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># received financial money management education</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumrcvdfinancialmoneymgmteducati"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumrcvdfinancialmoneymgmteducati}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Employment:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># enrolled in pre-employment workshop</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollempnumenrolledinpreempworkshop"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollempnumenrolledinpreempworkshop}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># completed pre-employment workshop</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollempnumcompletedpreempworkshop"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollempnumcompletedpreempworkshop}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># obtained new employment within 90 days of enrollment</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollempnumobtainednewempwin90daysen"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollempnumobtainednewempwin90daysen}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Among those who obtained employment within 90 days of enrollment:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># who retained the job for 90 days or more. </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_empwin90daysenrollmentempwin90daysenrollm"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_empwin90daysenrollmentempwin90daysenrollm}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Among those who obtained employment within 90 days of enrollment:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># who remained employed for 180 days or more.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_numobtainedfulltimeregularempwin180daysen"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_numobtainedfulltimeregularempwin180daysen}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># who have made contribution to their IDA</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_ifretainedjobfor90daysormorenumwhohavem"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_ifretainedjobfor90daysormorenumwhohavem}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Among those who retained their job for 180 days or more:</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_ifretainedjobfor90daysormorenumwhoremain"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_ifretainedjobfor90daysormorenumwhoremain}} {% endif %}">
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"># who have access to employer provided medical insurance</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_ifretainedjobfor180daysormorenumwhohave"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_ifretainedjobfor180daysormorenumwhohave}} {% endif %}">
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"># obtained full-time regular employment within 180 days of enrollment</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_numobtainedfulltimeregularempwin180daysen"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_numobtainedfulltimeregularempwin180daysen}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Among ALL Enrollees:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># currently employed</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumcurremployed"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumcurremployed}} {% endif %}">
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"># employed, full-time (32+ hours/week)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumemployedfulltime32hoursweek"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumemployedfulltime32hoursweek}} {% endif %}">
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt">average hourly rate of pay for full-time workers</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollavghourlyratepayforfulltimeworke"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollavghourlyratepayforfulltimeworke}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># employed, part-time (<32 hours/week)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumemployedparttime32hoursweek"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumemployedparttime32hoursweek}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">average hourly rate of pay for part-time workers</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollavghourlyratepayforparttimeworke"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollavghourlyratepayforparttimeworke}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Among ALL Enrollees-Length of time employed:</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt"># employed &lt; 4 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllenlennumemployed4mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllenlennumemployed4mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># employed 4-6 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllenlennumemployed46mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllenlennumemployed46mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># employed 7-9 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllenlennumemployed79mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllenlennumemployed79mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># employed 10-12 mos.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllenlennumemployed1012mos"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllenlennumemployed1012mos}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># employed &gt; 1 year </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrolllenlennumemployed1year"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrolllenlennumemployed1year}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># who left employment (at employee choice)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumwholeftempatemployeechoice"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumwholeftempatemployeechoice}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># who left employment (at either employer choice)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumwholeftempateitheremployerch"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumwholeftempateitheremployerch}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Banking (Individual Development Account)</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># established new IDAs</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnumestablishednewidas"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnumestablishednewidas}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># made deposits each month to IDA (30% of earned income, after 3 mos.)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_allenrollnummadedepositseachmonthida30e"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_allenrollnummadedepositseachmonthida30e}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Outcomes:</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># successfully completed program (i.e, exited to perm housing within 12 mos of enrollment)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesnumexitedprogwatleast1000inida"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_outcomesnumexitedprogwatleast1000inida}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Among those who successfully completed- # exited program with at least $1000 in IDA</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesnumsuccessfullycompletedprogieexi"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_outcomesnumsuccessfullycompletedprogieexi}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b># unsuccessful exits</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># failure to participate in IDA</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_unsucexitsnumfailparticipateinida"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_unsucexitsnumfailparticipateinida}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># due to court/criminal involvement (i.e., returned to custody)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_unsucexitsnumfailparticipateinida"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_unsucexitsnumfailparticipateinida}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># due to lack of engagement</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_unsucexitsnumduelackengage"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_unsucexitsnumduelackengage}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># absconding</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_unsucexitsnumabsconding"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_unsucexitsnumabsconding}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># due to relocation/case transfer</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_unsucexitsnumduerelocationcasexfer"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_unsucexitsnumduerelocationcasexfer}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># unsuccessful exits</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_unsucexitsnumunsucexits"  type="number" value="{% if recordCount>0 %}{{myquery.results.entities[0].cr9aa_unsucexitsnumunsucexits}} {% endif %}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="narrative" role="tabpanel" aria-labelledby="narrative-tab">

    <div class="container">
      <div class="row">

        <div class="col text-left">
          <h2>Quarterly Data Entry (Narrative)</h2>
        </div>


        <div class="col text-right">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>

    <form>
      <div class="container">


        <div class="row">
          <div class="col">
            <p class="popup-txt">Fiscal Year</p>
          </div>
          <div class="col">
            <p class="popup-txt">2020-21</p>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Quarter</p>
          </div>
          <div class="col">
            <p class="popup-txt">Jan-Mar</p>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section One: Performance and
              Demographic Data Measures</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section two: Budget Expenditures</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section Three: Section Four: Concerns/Changes with Organiztional Context or Partners</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section Four: Programmatic Outcomes, Lessons Learned</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section Five: Next Steps</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">tab3</div>
</div>
</div>
<div class="empty-space">
</div>
