{% fetchxml myquery %}
<fetch mapping="logical">
  <entity name="cr9aa_hr360">
    <all-attributes />​
      <filter type='and'>
        <condition attribute='cr9aa_startyear' operator='eq' value="{{request.params['startyear']}}" />
        <condition attribute='cr9aa_endyear' operator='eq' value="{{request.params['endyear']}}" />
        <condition attribute='cr9aa_startmonth' operator='eq' value="{{request.params['startmonth']}}" />
        <condition attribute='cr9aa_endmonth' operator='eq' value="{{request.params['endmonth']}}" />
      </filter>
  </entity>
</fetch>
{% endfetchxml %}
{{ assign recordCount=myquery.results.entities.size }}
<div class="container">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto">{{user.fullname}}</h3>
  <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistics</a>

  </li>
  <li class="nav-item">
    <a class="nav-link" id="narrative-tab" data-toggle="tab" href="#narrative" role="tab" aria-controls="narrative" aria-selected="false">Narrative</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Budget</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Attachments</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <br>
    <div class="container">
      <div class="row">

        <div class="col text-left">
          <h2>Quarterly Data Entry (Statistics)</h2>

        </div>


        <!-- Popup with a button -->
        <div class="col-xs-12 text-right margin">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Save </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Close </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Submit </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Print </button>


        </div>
      </div>
    </div>

    <!-- TOTAL Referrals -->
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col heading-border">
              <h4>Referrals/Assessments</h4>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># referred for program participation</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_refsassessreferredforprogramparticipation"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessreferredforprogramparticipation}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of intakes conducted (# intakes for services:  both in custody and post-release)</p>
            </div>
            <div class="col">
    <input class="form-control" id="cr9aa_refsassessofintakesconductedintakesfor"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessofintakesconductedintakesfor}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, AB 109</p>
            </div>
            <div class="col">
      <input class="form-control" id="cr9aa_refsassessintakesab109"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakesab109}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, non AB 109</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakesnonab109"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakesnonab109}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Gender</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, men</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_refsassessintakesmen"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakesmen}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, women</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakeswomen"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakeswomen}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Race/Ethnicity:</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Black</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakesblack"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakesblack}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Latino/a</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakeslatinoa"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakeslatinoa}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Asian</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakesasian"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakesasian}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, White</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakeswhite"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakeswhite}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, race/ethnicity unknown</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakesraceethnicityunknown"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakesraceethnicityunknown}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Age:</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, ≤ 25</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakes25"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakes25}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, 26-35</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakes2635"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakes2635}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, 36-45</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakes3645"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakes3645}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, 46-55</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakes4655"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakes4655}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, &gt; 55</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakes55"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakes55}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, West</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakeswest"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakeswest}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Region</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, West</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakeswest"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakeswest}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Central</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakescentral"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakescentral}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, East</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_refsassessintakeseast"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassessintakeseast}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>Tier</b></p>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <p class="popup-txt">AB 109 Probation</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstierab109probation"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstierab109probation}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Felony Probation </p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstierfelonyprobation"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstierfelonyprobation}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">≥ 30 days in custody, released w/in last 3 yrs.</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstier30daysincustrelwinlast"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstier30daysincustrelwinlast}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently awaiting trial</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstiercurrentlyawaitingtrial"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstiercurrentlyawaitingtrial}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently on court probation</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstiercurrentlyoncourtprobation"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstiercurrentlyoncourtprobation}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Special court probation (Behavioral, DV, drug)</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstierspecialcourtprobationbehavi"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstierspecialcourtprobationbehavi}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently on Parole</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstiercurrentlyonparole"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstiercurrentlyonparole}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently in custody</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstiercurrentlyincust"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstiercurrentlyincust}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Out of jurisdiction</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstieroutofjurisdiction"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstieroutofjurisdiction}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">None of the above</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_refsassesstiernoneoftheabove"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsassesstiernoneoftheabove}} {% endif %}">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Demographic characteristics of new enrollees -->

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col heading-border">
              <h4>Enrolled</h4>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled in program</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledinprogram"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledinprogram}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">% enrolled of intakes (auto calculated)</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledofintakesautocalculated"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledofintakesautocalculated}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, AB 109</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledab109"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledab109}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, non AB 109</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrollednonab109"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrollednonab109}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, one-on-one mentoring</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledoneononementoring"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledoneononementoring}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, group mentoring</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledgroupmentoring"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledgroupmentoring}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Gender:</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, men</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledmen"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledmen}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, women</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledwomen"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledwomen}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Gender:</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, men</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledmen"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledmen}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># enrolled, women</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_enrolledenrolledwomen"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledwomen}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Race/Ethnicity:</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Black</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledblack"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledblack}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Latino/a</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledlatinoa"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledlatinoa}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Asian</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledasian"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledasian}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, White</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledwhite"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledwhite}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, race/ethnicity unknown</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledraceethnicityunknown"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledraceethnicityunknown}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Age:</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, ≤ 25</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolled25"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolled25}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, 26-35</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolled2635"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolled2635}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, 36-45</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolled3645"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolled3645}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, 46-55</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolled4655"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolled4655}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, &gt; 55</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolled55"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolled55}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, West</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledwest"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledwest}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>By Region</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, West</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledwest"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledwest}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, Central</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledcentral"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledcentral}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># intakes, East</p>
            </div>
            <div class="col">
        <input class="form-control" id="cr9aa_enrolledenrolledeast"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledenrolledeast}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>Tier</b></p>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <p class="popup-txt">AB 109 Probation</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtierab109probation"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtierab109probation}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Felony Probation </p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtierfelonyprobation"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtierfelonyprobation}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">≥ 30 days in custody, released w/in last 3 yrs.</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtier30daysincustrelwinlast3y"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtier30daysincustrelwinlast3y}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently awaiting trial</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtiercurrentlyawaitingtrial"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtiercurrentlyawaitingtrial}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently on court probation</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtiercurrentlyoncourtprobation"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtiercurrentlyoncourtprobation}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Special court probation (Behavioral, DV, drug)</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtierspecialcourtprobationbehavior"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtierspecialcourtprobationbehavior}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently on Parole</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtiercurrentlyonparole"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtiercurrentlyonparole}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Currently in custody</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtiercurrentlyincust"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtiercurrentlyincust}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Out of jurisdiction</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtieroutofjurisdiction"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtieroutofjurisdiction}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">None of the above</p>
            </div>
            <div class="col">
              <input class="form-control" id="cr9aa_enrolledtiernoneoftheabove"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_enrolledtiernoneoftheabove}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col heading-border">
              <h4>Program Outcomes</h4>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <p class="popup-txt"># of on-going, active mentees, from previous Q</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesofongoingactivementeesfromprev"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesofongoingactivementeesfromprev}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># provided a post release service assessment</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesprovidedapostreleaseserviceassess"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesprovidedapostreleaseserviceassess}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># provided post release documentation assistance (for education or employment)</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesprovidedpostreleasedocumentationa"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesprovidedpostreleasedocumentationa}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># provided a warm hand off from the gate to West Co.</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesprovidedawarmhandofffromthegate"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesprovidedawarmhandofffromthegate}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of mentees matched with a mentor</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesofmenteesmatchedwithamentor"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesofmenteesmatchedwithamentor}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># mentees enrolled in weekly group mentoring; on average</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesmenteesenrolledinweeklygroupmento"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesmenteesenrolledinweeklygroupmento}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># who successfully completed program</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomeswhosuccessfullycompletedprogram"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomeswhosuccessfullycompletedprogram}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of pro-social events provided (for mentors-mentees)</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesofprosocialeventsprovidedformen"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesofprosocialeventsprovidedformen}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of mentees attended pro-social event</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesofmenteesattendedprosocialevent"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesofmenteesattendedprosocialevent}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"><b>Tier</b></p>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <p class="popup-txt">Program discharges:</p>
            </div>
            <div class="col">
input
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># exits, no longer in program</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesexitsnolongerinprogram"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesexitsnolongerinprogram}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># failure to meet program requirements</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesfailuretomeetprogramrequirements"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesfailuretomeetprogramrequirements}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># exits due to court or criminal involvement</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesexitsduetocourtorcriminalinvolve"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesexitsduetocourtorcriminalinvolve}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># exits due to lack of engagement</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesexitsduetolackofengagement"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesexitsduetolackofengagement}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># exits due to absconding</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesexitsduetoabsconding"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesexitsduetoabsconding}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># exits due to relocation or transfer</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_outcomesexitsduetorelocationortransfer"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesexitsduetorelocationortransfer}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col heading-border">
              <h4>Mentors:</h4>
              </h4>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of mentors enrolled/recruited</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_mentorsofmentorsenrolledrecruited"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_mentorsofmentorsenrolledrecruited}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">average # of mentees/mentor</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_mentorsaverageofmenteesmentor"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_mentorsaverageofmenteesmentor}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of mentors exited/inactive</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_mentorsofmentorsexitedinactive"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_mentorsofmentorsexitedinactive}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of mentors attended 1st training (one day)</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_mentorsofmentorsattended1sttrainingoned"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_mentorsofmentorsattended1sttrainingoned}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of mentors attended training</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_mentorsofmentorsattendedtraining"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_mentorsofmentorsattendedtraining}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of mentor trainings this reporting period</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_mentorsofmentortrainingsthisreportingperi"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_mentorsofmentortrainingsthisreportingperi}} {% endif %}">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt"># of total mentors at end of reporting period</p>
            </div>
            <div class="col">
<input class="form-control" id="cr9aa_mentorsoftotalmentorsatendofreportingpe"  type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_mentorsoftotalmentorsatendofreportingpe}} {% endif %}">
            </div>
          </div>
        </div>
      </div>
    </div>



    </div>
  </div>
  <div class="tab-pane fade" id="narrative" role="tabpanel" aria-labelledby="narrative-tab">





    <div class="container">
      <div class="row">

        <div class="col text-left">
          <h2>Quarterly Data Entry (Narrative)</h2>
        </div>


        <div class="col text-right">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>

    <form>
      <div class="container">


        <div class="row">
          <div class="col">
            <p class="popup-txt">Fiscal Year</p>
          </div>
          <div class="col">
            <p class="popup-txt">2020-21</p>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Quarter</p>
          </div>
          <div class="col">
            <p class="popup-txt">Jan-Mar</p>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section One: Performance and
              Demographic Data Measures</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section two: Budget Expenditures</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section Three: Section Four: Concerns/Changes with Organiztional Context or Partners</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section Four: Programmatic Outcomes, Lessons Learned</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="popup-txt">Section Five: Next Steps</p>
          </div>
          <div class="col form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">tab3</div>
</div>
</div>
<div class="empty-space">
</div>
