{% assign role = user.roles[0] %}
{% if role == 'ORJ' %}
  {% assign viewMode = 'readonly=readonly'%}
{% else %}
  {% assign viewMode = ''%}
{% endif %}
<form id="form" role="form">
  {% fetchxml myquery %}
  <fetch mapping="logical">
    <entity name="cr9aa_publicdefenders">
      <all-attributes />​
      <filter type='and'>
        <condition attribute='crdae_startyear' operator='eq' value="{{request.params['startyear']}}" />
        <condition attribute='crdae_endyear' operator='eq' value="{{request.params['endyear']}}" />
        <condition attribute='crdae_startmonth' operator='eq' value="{{request.params['startmonth']}}" />
        <condition attribute='crdae_endmonth' operator='eq' value="{{request.params['endmonth']}}" />
      </filter>
    </entity>
  </fetch>
  {% endfetchxml %}
  {% assign recordCount = myquery.results.entities.size %}
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <div class="fiscal-year-month"> 
        <div class="year-value"><b>Fiscal Year:</b> {{request.params['startyear']}}-{{request.params['endyear']}}</div> 
        <div class="month-value"><b>Quarter:</b> {{request.params['startmonth']}}-{{request.params['endmonth']}}</div>
      </div>
      {% if role == 'ORJ' %}
        <h3 class="my-0 mr-md-auto user-name">{{request.params['agency']}}</h3>  
      {% else %}
        <h3 class="my-0 mr-md-auto user-name">{{user.fullname}} ({{user.roles[0]}})</h3>
      {% endif %}
      <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
    </div>
    <!-- Popup with a button -->
  {% if role != 'ORJ' %}
    <div class="col-xs-12 text-right margin">
      <!-- Button trigger modal -->
      {% if recordCount > 0  %}
      {% if myquery.results.entities[0].crdae_submittedstatus == "In Progress" %}
      <button type="button" class="btn btn-primary" id="save">
        Save </button>
      {% endif %}
      {% endif %}
  
      {% if recordCount == 0  %}
      <button type="button" class="btn btn-primary" id="save">
        Save </button>
      {% endif %}
  
      {% if recordCount > 0 %}
      {% if myquery.results.entities[0].crdae_submittedstatus == "In Progress" %}
      <button class="btn btn-primary" type="submit" id="submit" data-toggle="tooltip" title="Do not submit until all data is complete">
        Submit </button>
      {% endif %}
      {% endif %}
  
      {% if recordCount == 0  %}
      <button class="btn btn-primary" type="submit" id="submit" data-toggle="tooltip" title="Do not submit until all data is complete">
        Submit </button>
      {% endif %}
  {% endif %}

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Print </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Close </button>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="narrative-tab" data-toggle="tab" href="#narrative" role="tab" aria-controls="narrative" aria-selected="false">Narrative</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="attachment-tab" data-toggle="tab" href="#budget-tab" role="tab" aria-controls="budget-tab" aria-selected="false">Attachments</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>

        <div class="container">
          <div class="row">
            <div class="col text-left">
              <h2>Quarterly Data Entry (Statistics)</h2>
            </div>
          </div>
        </div>

        <!-- Social Work -->

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col heading-border">
                  <h4>Social Work</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># referrals</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_socialworknumrefs" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_socialworknumrefs = myquery.results.entities[0].cr9aa_socialworknumrefs | round: 0 %}{% if cr9aa_socialworknumrefs == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_socialworknumrefs | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># assessments</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_socialworknumassessments" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_socialworknumassessments = myquery.results.entities[0].cr9aa_socialworknumassessments | round: 0 %}{% if cr9aa_socialworknumassessments == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_socialworknumassessments | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># men assessed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_socialworknummenassessed" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_socialworknummenassessed = myquery.results.entities[0].cr9aa_socialworknummenassessed | round: 0 %}{% if cr9aa_socialworknummenassessed == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_socialworknummenassessed | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># women assessed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_socialworknumwomenassessed" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_socialworknumwomenassessed = myquery.results.entities[0].cr9aa_socialworknumwomenassessed | round: 0 %}{% if cr9aa_socialworknumwomenassessed == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_socialworknumwomenassessed | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">referral to outside agencies</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_socialworknumrefoutsideagencies" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_socialworknumrefoutsideagencies = myquery.results.entities[0].cr9aa_socialworknumrefoutsideagencies | round: 0 %}{% if cr9aa_socialworknumrefoutsideagencies == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_socialworknumrefoutsideagencies | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>
            </div>

            <!-- ACER -->
            <div class="col">
              <div class="row">
                <div class="col heading-border">
                  <h4>ACER</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># receiving representation at 1st appearance = # defendants represented at arraignment</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acernumrecrepat1stappearanceeqnumdefendan" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acernumrecrepat1stappearanceeqnumdefendan = myquery.results.entities[0].cr9aa_acernumrecrepat1stappearanceeqnumdefendan | round: 0 %}{% if cr9aa_acernumrecrepat1stappearanceeqnumdefendan == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acernumrecrepat1stappearanceeqnumdefendan | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># released from custody at 1st appearance</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acernumreleasedfromcustat1stappearance" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acernumreleasedfromcustat1stappearance = myquery.results.entities[0].cr9aa_acernumreleasedfromcustat1stappearance | round: 0 %}{% if cr9aa_acernumreleasedfromcustat1stappearance == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acernumreleasedfromcustat1stappearance | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># case resolutions at 1st appearance</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acernumcaseresolutionsat1stappearance" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acernumcaseresolutionsat1stappearance = myquery.results.entities[0].cr9aa_acernumcaseresolutionsat1stappearance | round: 0 %}{% if cr9aa_acernumcaseresolutionsat1stappearance == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acernumcaseresolutionsat1stappearance | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">% ACER releases</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_aceracerreleases" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_aceracerreleases = myquery.results.entities[0].cr9aa_aceracerreleases | round: 0 %}{% if cr9aa_aceracerreleases == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_aceracerreleases | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of ACER dispositions</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acernumacerdispositions" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acernumacerdispositions = myquery.results.entities[0].cr9aa_acernumacerdispositions | round: 0 %}{% if cr9aa_acernumacerdispositions == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acernumacerdispositions | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of defendents represented at arraignment</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acernumdefendentsrepresentedatarraignment" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acernumdefendentsrepresentedatarraignment = myquery.results.entities[0].cr9aa_acernumdefendentsrepresentedatarraignment | round: 0 %}{% if cr9aa_acernumdefendentsrepresentedatarraignment == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acernumdefendentsrepresentedatarraignment | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">% of cases disposed through ACER</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acercasesdisposedthroughacer" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acercasesdisposedthroughacer = myquery.results.entities[0].cr9aa_acercasesdisposedthroughacer | round: 0 %}{% if cr9aa_acercasesdisposedthroughacer == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acercasesdisposedthroughacer | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Clean Slate -->

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col heading-border">
                  <h4>Clean Slate</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># expungement petitions filed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumexpungementpetitionsfiled" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumexpungementpetitionsfiled = myquery.results.entities[0].cr9aa_cleanslatenumexpungementpetitionsfiled | round: 0 %}{% if cr9aa_cleanslatenumexpungementpetitionsfiled == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumexpungementpetitionsfiled | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># expungement petitions granted</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumexpungementpetitionsgranted" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumexpungementpetitionsgranted = myquery.results.entities[0].cr9aa_cleanslatenumexpungementpetitionsgranted | round: 0 %}{% if cr9aa_cleanslatenumexpungementpetitionsgranted == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumexpungementpetitionsgranted | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># requests for certificate of rehabilitation filed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumrequestsforcertrehabilitati" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumrequestsforcertrehabilitati = myquery.results.entities[0].cr9aa_cleanslatenumrequestsforcertrehabilitati | round: 0 %}{% if cr9aa_cleanslatenumrequestsforcertrehabilitati == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumrequestsforcertrehabilitati | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># requests for certificate of rehabilitation granted</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumrequestsforcertrehabilitatio" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumrequestsforcertrehabilitatio = myquery.results.entities[0].cr9aa_cleanslatenumrequestsforcertrehabilitatio | round: 0 %}{% if cr9aa_cleanslatenumrequestsforcertrehabilitatio == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumrequestsforcertrehabilitatio | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># requests for arrest sealing filed </p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumrequestsforarrestsealingfile" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumrequestsforarrestsealingfile = myquery.results.entities[0].cr9aa_cleanslatenumrequestsforarrestsealingfile | round: 0 %}{% if cr9aa_cleanslatenumrequestsforarrestsealingfile == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumrequestsforarrestsealingfile | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># request for arrest sealing granted</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumrequestforarrestsealinggrant" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumrequestforarrestsealinggrant = myquery.results.entities[0].cr9aa_cleanslatenumrequestforarrestsealinggrant | round: 0 %}{% if cr9aa_cleanslatenumrequestforarrestsealinggrant == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumrequestforarrestsealinggrant | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># Prop 47 petitions filed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumprop47petitionsfiled" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumprop47petitionsfiled = myquery.results.entities[0].cr9aa_cleanslatenumprop47petitionsfiled | round: 0 %}{% if cr9aa_cleanslatenumprop47petitionsfiled == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumprop47petitionsfiled | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># prop 47 petitions granted </p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatenumprop47petitionsgranted" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatenumprop47petitionsgranted = myquery.results.entities[0].cr9aa_cleanslatenumprop47petitionsgranted | round: 0 %}{% if cr9aa_cleanslatenumprop47petitionsgranted == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatenumprop47petitionsgranted | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Total # of CS petitions filed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatetotalnumcspetitionsfiled" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatetotalnumcspetitionsfiled = myquery.results.entities[0].cr9aa_cleanslatetotalnumcspetitionsfiled | round: 0 %}{% if cr9aa_cleanslatetotalnumcspetitionsfiled == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatetotalnumcspetitionsfiled | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Total # of CS petitions granted</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatetotalnumcspetitionsgranted" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatetotalnumcspetitionsgranted = myquery.results.entities[0].cr9aa_cleanslatetotalnumcspetitionsgranted | round: 0 %}{% if cr9aa_cleanslatetotalnumcspetitionsgranted == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatetotalnumcspetitionsgranted | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Total # of CS petitions denied</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslatetotalnumcspetitionsdenied" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslatetotalnumcspetitionsdenied = myquery.results.entities[0].cr9aa_cleanslatetotalnumcspetitionsdenied | round: 0 %}{% if cr9aa_cleanslatetotalnumcspetitionsdenied == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslatetotalnumcspetitionsdenied | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Average # of petitions filed per individual*</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslateavgnumpetitionsfiledperindividu" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslateavgnumpetitionsfiledperindividu = myquery.results.entities[0].cr9aa_cleanslateavgnumpetitionsfiledperindividu | round: 0 %}{% if cr9aa_cleanslateavgnumpetitionsfiledperindividu == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslateavgnumpetitionsfiledperindividu | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Average # of petitions granted per individual*</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_cleanslateavgnumpetitionsgrantedperindivi" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_cleanslateavgnumpetitionsgrantedperindivi = myquery.results.entities[0].cr9aa_cleanslateavgnumpetitionsgrantedperindivi | round: 0 %}{% if cr9aa_cleanslateavgnumpetitionsgrantedperindivi == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_cleanslateavgnumpetitionsgrantedperindivi | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Early Representation -->

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col heading-border">
                  <h4>Early Representation</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of EarlyRep participants appearing at arraignment court date with EarlyRep attorney</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_earlyrepnumearlyreppartsappearatarraignct" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_earlyrepnumearlyreppartsappearatarraignct = myquery.results.entities[0].cr9aa_earlyrepnumearlyreppartsappearatarraignct | round: 0 %}{% if cr9aa_earlyrepnumearlyreppartsappearatarraignct == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_earlyrepnumearlyreppartsappearatarraignct | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of EarlyRep participants failing to appear at arraignment court date </p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_earlyrepnumearlyreppartsfailingappearatar" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_earlyrepnumearlyreppartsfailingappearatar = myquery.results.entities[0].cr9aa_earlyrepnumearlyreppartsfailingappearatar | round: 0 %}{% if cr9aa_earlyrepnumearlyreppartsfailingappearatar == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_earlyrepnumearlyreppartsfailingappearatar | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of new cases opened</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_earlyrepnumnewcasesopened" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_earlyrepnumnewcasesopened = myquery.results.entities[0].cr9aa_earlyrepnumnewcasesopened | round: 0 %}{% if cr9aa_earlyrepnumnewcasesopened == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_earlyrepnumnewcasesopened | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of cases closed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_earlyrepnumcasesclosed" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_earlyrepnumcasesclosed = myquery.results.entities[0].cr9aa_earlyrepnumcasesclosed | round: 0 %}{% if cr9aa_earlyrepnumcasesclosed == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_earlyrepnumcasesclosed | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of on-going active cases</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_earlyrepnumongoingactivecases" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_earlyrepnumongoingactivecases = myquery.results.entities[0].cr9aa_earlyrepnumongoingactivecases | round: 0 %}{% if cr9aa_earlyrepnumongoingactivecases == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_earlyrepnumongoingactivecases | round: 0}}{% endif %}{% endif %}">            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="narrative" role="tabpanel" aria-labelledby="narrative-tab">
        <div class="container">
          <div class="row">
            <div class="col text-left">
              <h2>Quarterly Data Entry (Narrative)</h2>
            </div>
          </div>
        </div>
  
        <div class="container">
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section One: Performance and
                Demographic Data Measures</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectionone" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionone}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section two: Budget Expenditures</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectiontwo" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectiontwo}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Three: Section Four: Concerns/Changes with Organiztional Context or Partners</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectionthree" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionthree}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Four: Programmatic Outcomes, Lessons Learned</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectionfour" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionfour}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Five: Next Steps</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" required data-required-error="This field is required" id="crdae_sectionfive" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionfive}}{% endif %}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-space">
  </div>
  </form>
  <script src="https://ers-dev.powerappsportals.com/validator.min.js"></script> 
  {% include "Public Defenders Footer" %}