{% assign role = user.roles[0] %}
{% if role == 'ORJ' %}
  {% assign viewMode = 'readonly=readonly'%}
{% else %}
  {% assign viewMode = ''%}
{% endif %}
<form id="form" role="form">
  {% fetchxml myquery %}
  <fetch mapping="logical">
    <entity name="cr9aa_richmondwdb">
      <all-attributes />​
      <filter type='and'>
        <condition attribute='crdae_startyear' operator='eq' value="{{request.params['startyear']}}" />
        <condition attribute='crdae_endyear' operator='eq' value="{{request.params['endyear']}}" />
        <condition attribute='crdae_startmonth' operator='eq' value="{{request.params['startmonth']}}" />
        <condition attribute='crdae_endmonth' operator='eq' value="{{request.params['endmonth']}}" />
      </filter>
    </entity>
  </fetch>
  {% endfetchxml %}
  {% assign recordCount = myquery.results.entities.size %}
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <div class="fiscal-year-month"> 
        <div class="year-value"><b>Fiscal Year:</b> {{request.params['startyear']}}-{{request.params['endyear']}}</div> 
        <div class="month-value"><b>Quarter:</b> {{request.params['startmonth']}}-{{request.params['endmonth']}}</div>
      </div>
      {% if role == 'ORJ' %}
        <h3 class="my-0 mr-md-auto user-name">{{request.params['agency']}}</h3>  
      {% else %}
        <h3 class="my-0 mr-md-auto user-name">{{user.fullname}} ({{user.roles[0]}})</h3>
      {% endif %}
    </div>
    <!-- Popup with a button -->
  {% if role != 'ORJ' %}
    <div class="col-xs-12 text-right margin">
      <!-- Button trigger modal -->
      {% if recordCount > 0  %}
      {% if myquery.results.entities[0].crdae_submittedstatus == "In Progress" %}
      <button type="button" class="btn btn-primary" id="save">
        Save </button>
      {% endif %}
      {% endif %}
  
      {% if recordCount == 0  %}
      <button type="button" class="btn btn-primary" id="save">
        Save </button>
      {% endif %}
  
      {% if recordCount > 0 %}
      {% if myquery.results.entities[0].crdae_submittedstatus == "In Progress" %}
      <button class="btn btn-primary" type="submit" id="submit" data-toggle="tooltip" title="Do not submit until all data is complete">
        Submit </button>
      {% endif %}
      {% endif %}
  
      {% if recordCount == 0  %}
      <button class="btn btn-primary" type="submit" id="submit" data-toggle="tooltip" title="Do not submit until all data is complete">
        Submit </button>
      {% endif %}
  {% endif %}
  
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Print </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Close </button>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="narrative-tab" data-toggle="tab" href="#narrative" role="tab" aria-controls="narrative" aria-selected="false">Narrative</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="attachment-tab" data-toggle="tab" href="#budget-tab" role="tab" aria-controls="budget-tab" aria-selected="false">Attachments</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>
        <div class="container">
          <div class="row">
            <div class="col text-left">
              <h2>Quarterly Data Entry (Statistics)</h2>
            </div>
          </div>
        </div>

          <!-- Referrals -->

        <div class="container">
          <div class="row">
            <div class="col">

              <div class="row">
                <div class="col heading-border">
                  <h4>Referrals</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># referrals</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numrefs" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numrefs = myquery.results.entities[0].cr9aa_numrefs | round: 0 %}{% if cr9aa_numrefs == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numrefs | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># assessed for services</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numassessedforsvcs" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numassessedforsvcs = myquery.results.entities[0].cr9aa_numassessedforsvcs | round: 0 %}{% if cr9aa_numassessedforsvcs == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numassessedforsvcs | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># enrolled in services</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numenrolledinsvcs" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numenrolledinsvcs = myquery.results.entities[0].cr9aa_numenrolledinsvcs | round: 0 %}{% if cr9aa_numenrolledinsvcs == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numenrolledinsvcs | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># ISPs developed</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numispsdeveloped" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numispsdeveloped = myquery.results.entities[0].cr9aa_numispsdeveloped | round: 0 %}{% if cr9aa_numispsdeveloped == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numispsdeveloped | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># participants matched with Career Planner</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numpartsmatchedwcareerplanner" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numpartsmatchedwcareerplanner = myquery.results.entities[0].cr9aa_numpartsmatchedwcareerplanner | round: 0 %}{% if cr9aa_numpartsmatchedwcareerplanner == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numpartsmatchedwcareerplanner | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Age</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Aged ≤ 25</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsnumagedgt25" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsnumagedgt25 = myquery.results.entities[0].cr9aa_refsnumagedgt25 | round: 0 %}{% if cr9aa_refsnumagedgt25 == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsnumagedgt25 | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Aged 26-35</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsnumaged2635" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsnumaged2635 = myquery.results.entities[0].cr9aa_refsnumaged2635 | round: 0 %}{% if cr9aa_refsnumaged2635 == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsnumaged2635 | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Aged 36-45</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsnumaged3645" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsnumaged3645 = myquery.results.entities[0].cr9aa_refsnumaged3645 | round: 0 %}{% if cr9aa_refsnumaged3645 == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsnumaged3645 | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Aged 46-55</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsnumaged4655" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsnumaged4655 = myquery.results.entities[0].cr9aa_refsnumaged4655 | round: 0 %}{% if cr9aa_refsnumaged4655 == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsnumaged4655 | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Aged > 55</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsnumaged55" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsnumaged55 = myquery.results.entities[0].cr9aa_refsnumaged55 | round: 0 %}{% if cr9aa_refsnumaged55 == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsnumaged55 | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Unknown</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsageunknown" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsageunknown = myquery.results.entities[0].cr9aa_refsageunknown | round: 0 %}{% if cr9aa_refsageunknown == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsageunknown | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Race & Ethnicity</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Asian</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsrefsasian" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsrefsasian = myquery.results.entities[0].cr9aa_refsrefsasian | round: 0 %}{% if cr9aa_refsrefsasian == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsrefsasian | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Black</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsblack" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsblack = myquery.results.entities[0].cr9aa_refsblack | round: 0 %}{% if cr9aa_refsblack == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsblack | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Hispanic</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refshispanic" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refshispanic = myquery.results.entities[0].cr9aa_refshispanic | round: 0 %}{% if cr9aa_refshispanic == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refshispanic | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Native American</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsnativeamerican" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsnativeamerican = myquery.results.entities[0].cr9aa_refsnativeamerican | round: 0 %}{% if cr9aa_refsnativeamerican == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsnativeamerican | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">White</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refswhite" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refswhite = myquery.results.entities[0].cr9aa_refswhite | round: 0 %}{% if cr9aa_refswhite == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refswhite | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Other</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsraceethnicityother" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsraceethnicityother = myquery.results.entities[0].cr9aa_refsraceethnicityother | round: 0 %}{% if cr9aa_refsraceethnicityother == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsraceethnicityother | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Gender</b></p>
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <p class="popup-txt">Female</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsfemale" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsfemale = myquery.results.entities[0].cr9aa_refsfemale | round: 0 %}{% if cr9aa_refsfemale == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsfemale | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Male</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_refsmale" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_refsmale = myquery.results.entities[0].cr9aa_refsmale | round: 0 %}{% if cr9aa_refsmale == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_refsmale | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Geographic Location</b></p>
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <p class="popup-txt">Central</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_regioncentral" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_regioncentral = myquery.results.entities[0].cr9aa_regioncentral | round: 0 %}{% if cr9aa_regioncentral == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_regioncentral | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">East</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_regioneast" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_regioneast = myquery.results.entities[0].cr9aa_regioneast | round: 0 %}{% if cr9aa_regioneast == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_regioneast | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">West</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_regionwest" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_regionwest = myquery.results.entities[0].cr9aa_regionwest | round: 0 %}{% if cr9aa_regionwest == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_regionwest | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Other County</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_regionothercounty" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_regionothercounty = myquery.results.entities[0].cr9aa_regionothercounty | round: 0 %}{% if cr9aa_regionothercounty == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_regionothercounty | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>
            </div>

            <!-- Programs -->
            <div class="col">
              <div class="row">
                <div class="col heading-border">
                  <h4>Programs</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>ACES (2 week pgm)</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of participants from previous quarter, if applicable</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acesnumpartsfromprevqtrifapplicable" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acesnumpartsfromprevqtrifapplicable = myquery.results.entities[0].cr9aa_acesnumpartsfromprevqtrifapplicable | round: 0 %}{% if cr9aa_acesnumpartsfromprevqtrifapplicable == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acesnumpartsfromprevqtrifapplicable | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># new participants enrolled </p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acesnumnewpartsenrolled" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acesnumnewpartsenrolled = myquery.results.entities[0].cr9aa_acesnumnewpartsenrolled | round: 0 %}{% if cr9aa_acesnumnewpartsenrolled == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acesnumnewpartsenrolled | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># participants received ACES certification</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acesnumpartsrcvdacescertification" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acesnumpartsrcvdacescertification = myquery.results.entities[0].cr9aa_acesnumpartsrcvdacescertification | round: 0 %}{% if cr9aa_acesnumpartsrcvdacescertification == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acesnumpartsrcvdacescertification | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of participants employed directly following ACES</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acesnumpartsemployeddirectlyfollowingaces" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acesnumpartsemployeddirectlyfollowingaces = myquery.results.entities[0].cr9aa_acesnumpartsemployeddirectlyfollowingaces | round: 0 %}{% if cr9aa_acesnumpartsemployeddirectlyfollowingaces == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acesnumpartsemployeddirectlyfollowingaces | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of trainings/cohorts conducted</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_acesnumtrainingscohortsconducted" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_acesnumtrainingscohortsconducted = myquery.results.entities[0].cr9aa_acesnumtrainingscohortsconducted | round: 0 %}{% if cr9aa_acesnumtrainingscohortsconducted == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_acesnumtrainingscohortsconducted | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Richmond BUILD (12 week pgm)</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of participants from previous quarter, if applicable</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumpartfromprevqtrifapplicable" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumpartfromprevqtrifapplicable = myquery.results.entities[0].cr9aa_richmondbldnumpartfromprevqtrifapplicable | round: 0 %}{% if cr9aa_richmondbldnumpartfromprevqtrifapplicable == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumpartfromprevqtrifapplicable | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># eligible to enroll</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumeligibleenroll" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumeligibleenroll = myquery.results.entities[0].cr9aa_richmondbldnumeligibleenroll | round: 0 %}{% if cr9aa_richmondbldnumeligibleenroll == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumeligibleenroll | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># enrolled</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumenrolled" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumenrolled = myquery.results.entities[0].cr9aa_richmondbldnumenrolled | round: 0 %}{% if cr9aa_richmondbldnumenrolled == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumenrolled | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># completed program; received certification</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumcompletedprogrcvdcert" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumcompletedprogrcvdcert = myquery.results.entities[0].cr9aa_richmondbldnumcompletedprogrcvdcert | round: 0 %}{% if cr9aa_richmondbldnumcompletedprogrcvdcert == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumcompletedprogrcvdcert | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># placed in apprenticeships</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumplacedinapprenticeships" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumplacedinapprenticeships = myquery.results.entities[0].cr9aa_richmondbldnumplacedinapprenticeships | round: 0 %}{% if cr9aa_richmondbldnumplacedinapprenticeships == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumplacedinapprenticeships | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of OSHA certificates</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumoshacerts" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumoshacerts = myquery.results.entities[0].cr9aa_richmondbldnumoshacerts | round: 0 %}{% if cr9aa_richmondbldnumoshacerts == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumoshacerts | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of Hazmat certificates</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumhazmatcerts" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumhazmatcerts = myquery.results.entities[0].cr9aa_richmondbldnumhazmatcerts | round: 0 %}{% if cr9aa_richmondbldnumhazmatcerts == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumhazmatcerts | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># found unsubsidized employment within 90 days of pgm completion</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_richmondbldnumfoundunsubempwin90dayspgmc" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_richmondbldnumfoundunsubempwin90dayspgmc = myquery.results.entities[0].cr9aa_richmondbldnumfoundunsubempwin90dayspgmc | round: 0 %}{% if cr9aa_richmondbldnumfoundunsubempwin90dayspgmc == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_richmondbldnumfoundunsubempwin90dayspgmc | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Technical Education-Warehousing/Logistics (10 week pgm)</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of participants from previous quarter, if applicable</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_warehousinglogisticspartfromprevqtrifappl" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_warehousinglogisticspartfromprevqtrifappl = myquery.results.entities[0].cr9aa_warehousinglogisticspartfromprevqtrifappl | round: 0 %}{% if cr9aa_warehousinglogisticspartfromprevqtrifappl == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_warehousinglogisticspartfromprevqtrifappl | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># enrolled</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_warehousinglogisticsenrolled" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_warehousinglogisticsenrolled = myquery.results.entities[0].cr9aa_warehousinglogisticsenrolled | round: 0 %}{% if cr9aa_warehousinglogisticsenrolled == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_warehousinglogisticsenrolled | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of participants who completed pgm</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_warehousinglogisticspartswhocompletedpgm" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_warehousinglogisticspartswhocompletedpgm = myquery.results.entities[0].cr9aa_warehousinglogisticspartswhocompletedpgm | round: 0 %}{% if cr9aa_warehousinglogisticspartswhocompletedpgm == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_warehousinglogisticspartswhocompletedpgm | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of certificates obtained</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_warehousinglogisticscertsobtained" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_warehousinglogisticscertsobtained = myquery.results.entities[0].cr9aa_warehousinglogisticscertsobtained | round: 0 %}{% if cr9aa_warehousinglogisticscertsobtained == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_warehousinglogisticscertsobtained | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of Forklift certificates</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_warehousinglogisticsforkliftcerts" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_warehousinglogisticsforkliftcerts = myquery.results.entities[0].cr9aa_warehousinglogisticsforkliftcerts | round: 0 %}{% if cr9aa_warehousinglogisticsforkliftcerts == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_warehousinglogisticsforkliftcerts | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>On the job training</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># enrolled in OJT-WIOA</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numenrolledinojtwioa" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numenrolledinojtwioa = myquery.results.entities[0].cr9aa_numenrolledinojtwioa | round: 0 %}{% if cr9aa_numenrolledinojtwioa == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numenrolledinojtwioa | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># completed OJT</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numcompletedojt" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numcompletedojt = myquery.results.entities[0].cr9aa_numcompletedojt | round: 0 %}{% if cr9aa_numcompletedojt == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numcompletedojt | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Post training services</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># deemed work-ready</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_posttrainingnumdeemedworkready" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_posttrainingnumdeemedworkready = myquery.results.entities[0].cr9aa_posttrainingnumdeemedworkready | round: 0 %}{% if cr9aa_posttrainingnumdeemedworkready == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_posttrainingnumdeemedworkready | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># receiving retention services</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_posttrainingnumreceivingretentionsvcs" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_posttrainingnumreceivingretentionsvcs = myquery.results.entities[0].cr9aa_posttrainingnumreceivingretentionsvcs | round: 0 %}{% if cr9aa_posttrainingnumreceivingretentionsvcs == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_posttrainingnumreceivingretentionsvcs | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># successfully completed retention services</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_posttrainingnumsuccessfullycompletedreten" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_posttrainingnumsuccessfullycompletedreten = myquery.results.entities[0].cr9aa_posttrainingnumsuccessfullycompletedreten | round: 0 %}{% if cr9aa_posttrainingnumsuccessfullycompletedreten == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_posttrainingnumsuccessfullycompletedreten | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Employment outcomes</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># retained unsubsidized employment for 6 mos.</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnumretainedunsubempfor6mos" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnumretainedunsubempfor6mos = myquery.results.entities[0].cr9aa_empoutcomesnumretainedunsubempfor6mos | round: 0 %}{% if cr9aa_empoutcomesnumretainedunsubempfor6mos == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnumretainedunsubempfor6mos | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># eligible for 6 mos. of employment</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnumeligiblefor6mosemp" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnumeligiblefor6mosemp = myquery.results.entities[0].cr9aa_empoutcomesnumeligiblefor6mosemp | round: 0 %}{% if cr9aa_empoutcomesnumeligiblefor6mosemp == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnumeligiblefor6mosemp | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">% retained unsub. Employment for 6 mos. </p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesretainedunsubempfor6mos" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesretainedunsubempfor6mos = myquery.results.entities[0].cr9aa_empoutcomesretainedunsubempfor6mos | round: 0 %}{% if cr9aa_empoutcomesretainedunsubempfor6mos == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesretainedunsubempfor6mos | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># with pay rate ≥ $15/hr</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnumwpayratelt15hr6mos" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnumwpayratelt15hr6mos = myquery.results.entities[0].cr9aa_empoutcomesnumwpayratelt15hr6mos | round: 0 %}{% if cr9aa_empoutcomesnumwpayratelt15hr6mos == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnumwpayratelt15hr6mos | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># in unsubsidized employment for 3 mos.</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnuminunsubempfor3mos" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnuminunsubempfor3mos = myquery.results.entities[0].cr9aa_empoutcomesnuminunsubempfor3mos | round: 0 %}{% if cr9aa_empoutcomesnuminunsubempfor3mos == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnuminunsubempfor3mos | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># eligible for 3 mos. of employment</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnumeligiblefor3mosemp" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnumeligiblefor3mosemp = myquery.results.entities[0].cr9aa_empoutcomesnumeligiblefor3mosemp | round: 0 %}{% if cr9aa_empoutcomesnumeligiblefor3mosemp == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnumeligiblefor3mosemp | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">% retained unsub. Employment for 3 mos. </p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesretainedunsubempfor3mos" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesretainedunsubempfor3mos = myquery.results.entities[0].cr9aa_empoutcomesretainedunsubempfor3mos | round: 0 %}{% if cr9aa_empoutcomesretainedunsubempfor3mos == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesretainedunsubempfor3mos | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># with pay rate ≥ $15/hr</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnumwpayratelt15hr3mos" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnumwpayratelt15hr3mos = myquery.results.entities[0].cr9aa_empoutcomesnumwpayratelt15hr3mos | round: 0 %}{% if cr9aa_empoutcomesnumwpayratelt15hr3mos == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnumwpayratelt15hr3mos | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># in unsubsidized employment for 1 mo.</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnuminunsubempfor1mo" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnuminunsubempfor1mo = myquery.results.entities[0].cr9aa_empoutcomesnuminunsubempfor1mo | round: 0 %}{% if cr9aa_empoutcomesnuminunsubempfor1mo == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnuminunsubempfor1mo | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># eligible for 1 mo. of employment</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnumeligiblefor1moemp" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnumeligiblefor1moemp = myquery.results.entities[0].cr9aa_empoutcomesnumeligiblefor1moemp | round: 0 %}{% if cr9aa_empoutcomesnumeligiblefor1moemp == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnumeligiblefor1moemp | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">% retained unsub. Employment for 1 mo.</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesretainedunsubempfor1mo" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesretainedunsubempfor1mo = myquery.results.entities[0].cr9aa_empoutcomesretainedunsubempfor1mo | round: 0 %}{% if cr9aa_empoutcomesretainedunsubempfor1mo == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesretainedunsubempfor1mo | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># with pay rate ≥ $15/hr</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_empoutcomesnumwpayratelt15hr1mo" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_empoutcomesnumwpayratelt15hr1mo = myquery.results.entities[0].cr9aa_empoutcomesnumwpayratelt15hr1mo | round: 0 %}{% if cr9aa_empoutcomesnumwpayratelt15hr1mo == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_empoutcomesnumwpayratelt15hr1mo | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>
            </div>
          </div>
        </div>




         <!-- Unsuccessful Exits -->

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col heading-border">
                  <h4>Unsuccessful Exits</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt"># of participants who failed to complete pgm.</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_numpartswhofailedcompletepgm" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_numpartswhofailedcompletepgm = myquery.results.entities[0].cr9aa_numpartswhofailedcompletepgm | round: 0 %}{% if cr9aa_numpartswhofailedcompletepgm == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_numpartswhofailedcompletepgm | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt sub-headings"><b>Reason for unsuccessful exit:</b></p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Lack of engagement, unresponsive</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_reasonforunsuccesfulexitlackengageunrespo" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_reasonforunsuccesfulexitlackengageunrespo = myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitlackengageunrespo | round: 0 %}{% if cr9aa_reasonforunsuccesfulexitlackengageunrespo == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitlackengageunrespo | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Failure to meet program requirements</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_reasonforunsuccesfulexitfailmeetprogreqs" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_reasonforunsuccesfulexitfailmeetprogreqs = myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitfailmeetprogreqs | round: 0 %}{% if cr9aa_reasonforunsuccesfulexitfailmeetprogreqs == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitfailmeetprogreqs | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Court or criminal involvement</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_reasonforunsuccesfulexitctorcriminalinvol" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_reasonforunsuccesfulexitctorcriminalinvol = myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitctorcriminalinvol | round: 0 %}{% if cr9aa_reasonforunsuccesfulexitctorcriminalinvol == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitctorcriminalinvol | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Absconding</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_reasonforunsuccesfulexitabsconding" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_reasonforunsuccesfulexitabsconding = myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitabsconding | round: 0 %}{% if cr9aa_reasonforunsuccesfulexitabsconding == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitabsconding | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Probation revoked</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_reasonforunsuccesfulexitprobrevoked" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_reasonforunsuccesfulexitprobrevoked = myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitprobrevoked | round: 0 %}{% if cr9aa_reasonforunsuccesfulexitprobrevoked == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitprobrevoked | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="popup-txt">Deceased</p>
                </div>
                <div class="col form-group">
                  <input class="form-control" required data-required-error="This field is required" id="cr9aa_reasonforunsuccesfulexitdeceased" type="text" value="{% if recordCount > 0 %}{% assign cr9aa_reasonforunsuccesfulexitdeceased = myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitdeceased | round: 0 %}{% if cr9aa_reasonforunsuccesfulexitdeceased == -1.00 %}{% else %}{{myquery.results.entities[0].cr9aa_reasonforunsuccesfulexitdeceased | round: 0}}{% endif %}{% endif %}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="narrative" role="tabpanel" aria-labelledby="narrative-tab">
        <div class="container">
          <div class="row">
            <div class="col text-left">
              <h2>Quarterly Data Entry (Narrative)</h2>
            </div>
          </div>
        </div>
  
        <div class="container">
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section One: Performance and
                Demographic Data Measures</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectionone" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionone}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section two: Budget Expenditures</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectiontwo" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectiontwo}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Three: Section Four: Concerns/Changes with Organiztional Context or Partners</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectionthree" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionthree}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Four: Programmatic Outcomes, Lessons Learned</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" id="crdae_sectionfour" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionfour}}{% endif %}</textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Five: Next Steps</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" required data-required-error="This field is required" required data-required-error="This field is required" id="crdae_sectionfive" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].crdae_sectionfive}}{% endif %}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-space">
  </div>
  </form>
  <script src="https://ers-dev.powerappsportals.com/validator.min.js"></script> 
  {% include "Richmond WDB Footer" %}
