{% fetchxml myquery %}
<fetch mapping="logical">
  <entity name="cr9aa_hr360">
    <all-attributes />​
    <filter type='and'>
      <condition attribute='cr9aa_startyear' operator='eq' value="{{request.params['startyear']}}" />
      <condition attribute='cr9aa_endyear' operator='eq' value="{{request.params['endyear']}}" />
      <condition attribute='cr9aa_startmonth' operator='eq' value="{{request.params['startmonth']}}" />
      <condition attribute='cr9aa_endmonth' operator='eq' value="{{request.params['endmonth']}}" />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}
{{ assign recordCount=myquery.results.entities.size }}
<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto">{{user.fullname}}</h3>
    <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistics</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" id="narrative-tab" data-toggle="tab" href="#narrative" role="tab" aria-controls="narrative" aria-selected="false">Narrative</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Budget</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Attachments</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br>
      <div class="container">
        <div class="row">

          <div class="col text-left">
            <h2>Quarterly Data Entry (Statistics)</h2>

          </div>


          <!-- Popup with a button -->
          <div class="col-xs-12 text-right margin">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Save </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Close </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Submit </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Print </button>


          </div>
        </div>
      </div>

      <!-- TOTAL Referrals -->
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col heading-border">
                <h4>Referrals/Intakes</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># of new intakes</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesofnewintakes" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesofnewintakes}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># of AB109 intakes</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesofab109intakes" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesofab109intakes}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># of warm hand offs </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesofwarmhandoffs" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesofwarmhandoffs}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col heading-border">
                <h4>RNR: Risk Level (new intakes)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># new intakes at low risk</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesrnrrisklevelnewintakesatlow" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesrnrrisklevelnewintakesatlow}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># new intakes at mod-hi risk</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesrnrrisklevelnewintakesatmod" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesrnrrisklevelnewintakesatmod}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col heading-border">
                <h4>Demographic Characteristics (new intakes)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Age</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># intakes, ≤ 25</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesaged25" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesaged25}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># intakes, 26-35</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesaged2635" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesaged2635}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># intakes, 36-45</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesaged3645" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesaged3645}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># intakes, 46-55</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesaged4655" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesaged4655}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># intakes, &gt; 55</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesaged55" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesaged55}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Race & Ethnicity</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Asian</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesraceethasian" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesraceethasian}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Black</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesraceethblack" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesraceethblack}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Latino/a</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesraceethlatinoa" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesraceethlatinoa}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Native American</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesraceethnativeamerican" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesraceethnativeamerican}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">White</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesraceethwhite" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesraceethwhite}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Other</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesraceethother" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesraceethother}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Gender</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Female</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesgenderfemale" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesgenderfemale}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Male</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesgendermale" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesgendermale}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>By Region</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">West</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesregionwest" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesregionwest}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Central</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesregioncentral" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesregioncentral}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">East</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakesregioneast" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakesregioneast}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Tier</b></p>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="popup-txt">AB 109 Probation</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestierab109probation" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestierab109probation}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Felony Probation </p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestierfelonyprobation" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestierfelonyprobation}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">≥ 30 days in custody, released w/in last 3 yrs.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestier30daysincustodyreleasedw" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestier30daysincustodyreleasedw}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently awaiting trial</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestiercurrentlyawaitingtrial" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestiercurrentlyawaitingtrial}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently on court probation</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestiercurrentlyoncourtprobation" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestiercurrentlyoncourtprobation}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Special court probation (Behavioral, DV, drug)</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestierspecialcourtprobationbehav" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestierspecialcourtprobationbehav}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently on Parole</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestiercurrentlyonparole" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestiercurrentlyonparole}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Currently in custody</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestiercurrentlyincustody" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestiercurrentlyincustody}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">Out of jurisdiction</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestieroutofjurisdiction" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestieroutofjurisdiction}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt">None of the above</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_refsintakestiernoneoftheabove" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_refsintakestiernoneoftheabove}} {% endif %}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Demographic characteristics of new enrollees -->

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col heading-border">
                <h4>Alpha Program </h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># of alpha participants from previous qtr.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alphaofalphaparticipantsfrompreviousqtr" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alphaofalphaparticipantsfrompreviousqtr}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># enrolled</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alphaenrolled" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alphaenrolled}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># men</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alphamen" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alphamen}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># women</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alphawomen" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alphawomen}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># obtained employment</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alphaobtainedemployment" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alphaobtainedemployment}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># re-arrested</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alpharearrested" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alpharearrested}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># entered AODS tx</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alphaenteredaodstx" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alphaenteredaodstx}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># graduated from alpha pgm.</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_alphagraduatedfromalphapgm" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_alphagraduatedfromalphapgm}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col heading-border">
                <h4>Outcomes</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># voluntary exits, following intake</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesvoluntaryexitsfollowingintake" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesvoluntaryexitsfollowingintake}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"><b>Unsuccessful exits</b></p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># failure to meet requirements</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesunsuccessfulexitsfailuretomeetreq" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesunsuccessfulexitsfailuretomeetreq}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># due to court/criminal involvement</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesunsuccessfulexitsduetocourtcrimin" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesunsuccessfulexitsduetocourtcrimin}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># due to lack of engagement</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesunsuccessfulexitsduetolackofengag" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesunsuccessfulexitsduetolackofengag}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># absconding</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesunsuccessfulexitsabsconding" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesunsuccessfulexitsabsconding}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># due to relocation/case transfer</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesunsuccessfulexitsduetorelocationc" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesunsuccessfulexitsduetorelocationc}} {% endif %}">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="popup-txt"># of RSC newsletters produced</p>
              </div>
              <div class="col">
                <input class="form-control" id="cr9aa_outcomesunsuccessfulexitsofrscnewsletters" type="number" value="{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_outcomesunsuccessfulexitsofrscnewsletters}} {% endif %}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="narrative" role="tabpanel" aria-labelledby="narrative-tab">





      <div class="container">
        <div class="row">

          <div class="col text-left">
            <h2>Quarterly Data Entry (Narrative)</h2>
          </div>


          <div class="col text-right">
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>

      <form>
        <div class="container">


          <div class="row">
            <div class="col">
              <p class="popup-txt">Fiscal Year</p>
            </div>
            <div class="col">
              <p class="popup-txt">2020-21</p>
            </div>

          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Quarter</p>
            </div>
            <div class="col">
              <p class="popup-txt">Jan-Mar</p>
            </div>

          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Section One: Performance and
                Demographic Data Measures</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Section two: Budget Expenditures</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Three: Section Four: Concerns/Changes with Organiztional Context or Partners</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Four: Programmatic Outcomes, Lessons Learned</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="popup-txt">Section Five: Next Steps</p>
            </div>
            <div class="col form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">tab3</div>
  </div>
</div>
<div class="empty-space">
</div>
