<form id="form" role="form">
  {% fetchxml myquery %}
  <fetch mapping="logical">
    <entity name="cr9aa_hr360">
      <all-attributes />​
      <filter type='and'>
        <condition attribute='cr9aa_startyear' operator='eq' value="{{request.params['startyear']}}" />
        <condition attribute='cr9aa_endyear' operator='eq' value="{{request.params['endyear']}}" />
        <condition attribute='cr9aa_startmonth' operator='eq' value="{{request.params['startmonth']}}" />
        <condition attribute='cr9aa_endmonth' operator='eq' value="{{request.params['endmonth']}}" />
      </filter>
    </entity>
  </fetch>
  {% endfetchxml %}
  {% assign recordCount = myquery.results.entities.size %}
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <div class="fiscal-year-month"> 
        <div class="year-value"><b>Fiscal Year:</b> {{request.params['startyear']}}-{{request.params['endyear']}}</div> 
        <div class="month-value"><b>Quarter:</b> {{request.params['startmonth']}}-{{request.params['endmonth']}}</div>
      </div>
      <h3 class="my-0 mr-md-auto user-name">{{user.fullname}} ({{user.roles[0]}})</h3>
      <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
    </div>
    <!-- Popup with a button -->
    <div class="col-xs-12 text-right margin">
      <!-- Button trigger modal -->
      {% if recordCount > 0  %}
      {% if myquery.results.entities[0].cr9aa_submittedstatus == "In Progress" %}
      <button type="button" class="btn btn-primary" id="save">
        Save </button>
      {% endif %}
      {% endif %}
  
      {% if recordCount == 0  %}
      <button type="button" class="btn btn-primary" id="save">
        Save </button>
      {% endif %}
  
      {% if recordCount > 0 %}
      {% if myquery.results.entities[0].cr9aa_submittedstatus == "In Progress" %}
      <button class="btn btn-primary" type="submit" id="submit" data-toggle="tooltip" title="Do not submit until all data is complete">
        Submit </button>
      {% endif %}
      {% endif %}
  
      {% if recordCount == 0  %}
      <button class="btn btn-primary" type="submit" id="submit" data-toggle="tooltip" title="Do not submit until all data is complete">
        Submit </button>
      {% endif %}
  
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Print </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Close </button>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="narrative-tab" data-toggle="tab" href="#narrative" role="tab" aria-controls="narrative" aria-selected="false">Narrative</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="budget" data-toggle="tab" href="#budget-tab" role="tab" aria-controls="budget-tab" aria-selected="false">Budget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="attachment-tab" data-toggle="tab" href="#budget-tab" role="tab" aria-controls="budget-tab" aria-selected="false">Attachments</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>
        {% include "Rubicon Statistics Part 1" %}
        {% include "Rubicon Statistics Part 2" %}

    <div class="tab-pane fade" id="narrative" role="tabpanel" aria-labelledby="narrative-tab">
        <div class="container">
            <div class="row">
              <div class="col text-left">
                <h2>Quarterly Data Entry (Narrative)</h2>
              </div>
            </div>
        </div>
    
          <div class="container">
    
            <div class="row">
              <div class="col">
                <p class="popup-txt">Section One: Performance and
                  Demographic Data Measures</p>
              </div>
              <div class="col form-group">
                <textarea class="form-control" required data-required-error="This field is required" id="cr9aa_sectionone" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_sectionone}}{% endif %}</textarea>
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                <p class="popup-txt">Section two: Budget Expenditures</p>
              </div>
              <div class="col form-group">
                <textarea class="form-control" required data-required-error="This field is required" id="cr9aa_sectiontwo" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_sectiontwo}}{% endif %}</textarea>
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                <p class="popup-txt">Section Three: Section Four: Concerns/Changes with Organiztional Context or Partners</p>
              </div>
              <div class="col form-group">
                <textarea class="form-control" required data-required-error="This field is required" id="cr9aa_sectionthree" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_sectionthree}}{% endif %}</textarea>
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                <p class="popup-txt">Section Four: Programmatic Outcomes, Lessons Learned</p>
              </div>
              <div class="col form-group">
                <textarea class="form-control" required data-required-error="This field is required" id="cr9aa_sectionfour" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_sectionfour}}{% endif %}</textarea>
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                <p class="popup-txt">Section Five: Next Steps</p>
              </div>
              <div class="col form-group">
                <textarea class="form-control" required data-required-error="This field is required" required data-required-error="This field is required" id="cr9aa_sectionfive" rows="3">{% if recordCount > 0 %}{{myquery.results.entities[0].cr9aa_sectionfive}}{% endif %}</textarea>
              </div>
            </div>
          </div>
        </div>
   
        <div class="tab-pane fade" id="budget-tab" role="tabpanel" aria-labelledby="budget-tab">
          <div class="container">
            <p></br></p>
  
           
          </div>
        </div>      
  
      </div>
    </div>
    <div class="empty-space">
    </div>
    </form>
    <script src="https://ers-dev.powerappsportals.com/validator.min.js"></script> 

        


  
  {% include "HR360 Footer" %}